.nav {
  display: flex;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid black;

  .link {
    cursor: pointer;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 10px;

    .logo {
      width: 10%;
    }

    .headerText {
      display: flex;
      align-items: center;
      gap: 20px;
      justify-content: center;

      .signup {
        border: none;
        background-color: #ffffff;
        font-size: 17px;
        cursor: pointer;
      }

      .login {
        margin-left: 10px;
        font-size: 15px;
        border: 1px solid transparent;
        background-color: #2a5bd7;
        color: #fff;
        padding: 10px 20px;
        border-radius: 8px;
        float: none;
        line-height: 1.11;
        &:hover {
          background-color: rgb(61, 61, 228);
          cursor: pointer;
        }
      }
    }
  }
}